.button {
    margin: 25px;
}
.sign-in{
    background-color: aqua;
    margin: 20px;
    padding: 20px;
    color: blue;
    font-size: 23px;
    border: none;
    border-radius: 5px;
    box-shadow: 5px 5px 10px blue;
}

.sign-out {
    background-color: blue;
    margin: 20px;
    padding: 20px;
    color: white;
    font-size: 23px;
    border: none;
    box-shadow: 5px 5px 10px blue;
    border-radius: 5px;
}

.sign-in:hover{
    background-color: lightcoral;
    color: blue;
    border: none;
    box-shadow: 5px 5px 10px lightcoral;
}
.button img {
    width: 50%;
}